<div [class]="containerClasses">
  <!-- Display Avatars -->
  <div *ngFor="let avatar of displayAvatars" [class]="itemClasses">
    <app-avatar
      [type]="avatar.type"
      [imageUrl]="avatar.imageUrl"
      [textEn]="avatar.textEn || 'AB'"
      [size]="size"
      [square]="square"
      [border]="true">
    </app-avatar>
  </div>

  <!-- Remaining Count Avatar -->
  <div *ngIf="hasRemaining" [class]="counterClasses">
    <app-avatar
      [type]="'Initials'"
      [textEn]="'+' + remainingCount"
      [size]="size"
      [square]="square"
      [border]="true">
    </app-avatar>
  </div>
</div>

