<!--
  Header Component - Canonical HTML Structure
  Main navigation and branding header
-->

<header class="ds-header">
  <div class="ds-header__container">
    <a href="/" class="ds-header__brand">
      <span>Design System</span>
    </a>
    
    <nav class="ds-header__nav">
      <ul class="ds-header__nav-list">
        <li class="ds-header__nav-item">
          <a href="/" class="ds-header__nav-link ds-header__nav-link--active">Home</a>
        </li>
        <li class="ds-header__nav-item">
          <a href="/avatar" class="ds-header__nav-link">Components</a>
        </li>
        <li class="ds-header__nav-item">
          <a href="/docs" class="ds-header__nav-link">Documentation</a>
        </li>
      </ul>
    </nav>
    
    <div class="ds-header__actions">
      <!-- Actions can be added here -->
    </div>
  </div>
</header>

