<!--
  Footer Component - Canonical HTML Structure
  Page footer with links and information
-->

<footer class="ds-footer">
  <div class="ds-footer__container">
    <div class="ds-footer__content">
      <div class="ds-footer__section">
        <h3 class="ds-footer__title">Product</h3>
        <ul class="ds-footer__list">
          <li><a href="#" class="ds-footer__link">Features</a></li>
          <li><a href="#" class="ds-footer__link">Pricing</a></li>
          <li><a href="#" class="ds-footer__link">Documentation</a></li>
        </ul>
      </div>
      
      <div class="ds-footer__section">
        <h3 class="ds-footer__title">Company</h3>
        <ul class="ds-footer__list">
          <li><a href="#" class="ds-footer__link">About</a></li>
          <li><a href="#" class="ds-footer__link">Blog</a></li>
          <li><a href="#" class="ds-footer__link">Careers</a></li>
        </ul>
      </div>
      
      <div class="ds-footer__section">
        <h3 class="ds-footer__title">Support</h3>
        <ul class="ds-footer__list">
          <li><a href="#" class="ds-footer__link">Help Center</a></li>
          <li><a href="#" class="ds-footer__link">Contact</a></li>
          <li><a href="#" class="ds-footer__link">Status</a></li>
        </ul>
      </div>
    </div>
    
    <div class="ds-footer__bottom">
      <p class="ds-footer__copyright">
        © 2025 Platforms Code Design System. All rights reserved.
      </p>
    </div>
  </div>
</footer>

